@charset "utf-8";
body {
    background: #fff;
}
#content_detail {
    width: 1190px;
    margin: 0 auto;
    padding: 20px 0 60px;
    min-height: 400px;
    overflow: hidden;
    .detail_nav {
        margin-bottom: 30px;
        line-height: 40px;
        padding: 0 20px;
        font-size: 12px;
        background: #eee;
        a: {
            float: left;

        }
        a:nth-of-type(2) {
            float: right;
        }

    }
    .imgArea {
        position: relative;
        width: 450px;
        float: left;
        .zoomArea {
            width: 450px;
            height: 450px;
            border: 1px solid #CECECE;
            .midImg {
                img {
                    display: block;
                    width: 450px;
                    height: 450px;
                }
            }
            .zoom{
                width: 200px;
                height:200px;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(200,200,200,.5);
                display: none;
            }
            

        }
        .bigArea{
            display: none;
                position: absolute;
                left:450px;
                top: 0;
                width: 450px;
                height:450px;
                border: 1px solid #CECECE;
                overflow: hidden;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 900px;
                    height: 900px;
                    border: none;
                }
            }
        
        
        ul{
            height: 58px;
            
            li{
              display: inline-block;
              margin-top:15px;
              margin-left: 20px;
              box-sizing: border-box;
              border:2px solid #fff; 
              img{
                  width: 54px;
                  height: 54px;
              }
            }
            li:nth-of-type(1){
                margin-left: 0;
            }
            li:hover{
                border:2px solid #FF0000; 
            }
        }

    }
    .img_message{
        float: left;
        width: 650px;
        margin-left: 20px;
       >b{
           display: block;
           line-height: 30px;
           background: #eee;
           padding-left: 20px;
       }
       >strong{
           padding-top: 10px;
           display: block;
           font-weight: 100;
           line-height: 30px;
           font-size: 14px;
       }
       >i{
           font-size: 30px;
           color: #FF0000;
           font-style: normal;
           line-height: 50px;
       }
       >div:nth-of-type(1){
           margin-top: 20px;
           >span{
               float: left;
               text-align: center;
               width: 32px;
               height: 36px;
               font-size: 20px;
               line-height: 36px;
               background: #eee;
               border: 1px solid #CECECE;
               cursor: pointer;
           }
           >input{
               float: left;
               width: 58px;
               height: 36px;
               font-size: 20px;
               text-align: center;
               line-height: 34px;
               border: 0;
               background: #fff;
               border-top: 1px solid #CECECE;
               border-bottom: 1px solid #CECECE;
           }
       }
       div:nth-of-type(2){
           .btn{
               padding:0 28px;
               border: 1px solid #FF0000;
               color: #fff;
               background: #FF0000;
               line-height: 36px;
               font-size: 14px;
               margin-left: 30px;
           }
       }
       
       
    }

}
//.imgArea{
//              position: relative;
//              border:1px solid #CECECE;
//              width: 400px;
//          }
//          .zoomArea{
//              width: 400px;
//              height:400px;
//          }
//          .zoomArea img{
//              width:400px;
//              height:400px;
//          }
//          .bigArea{
//              position: absolute;
//              left:400px;
//              top:-1px;
//              width:400px;
//              height:400px;
//              border:1px solid #CECECE;
//              overflow: hidden;
//              display: none;
//          }
//          .bigArea img{
//              display: block;
//              border: none;
//              position: absolute;
//              width:800px;
//              height:800px;
//              
//          }
//          .zoom{
//              width:200px;
//              height:200px;
//              position: absolute;
//              background: rgba(200,200,200,.5);
//              display: none;
//          }
//          .imgArea ul{
//              height: 80px;
//              text-align: center;
//          }
//          .imgArea ul li{
//              display: inline-block;
//              margin-top:15px;
//              margin-left: 20px;
//              box-sizing: border-box;
//              border:2px solid #fff;
//          }
//          .imgArea ul li:nth-of-type(1){
//              margin-left: 0;
//          }
//          .imgArea ul li img{
//              width:50px;
//              height:50px
//          }
